/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Fonte personalizada */
  @font-face {
    font-family: "Minha Fonte Personalizada";
    src: url("caminho/para/fonte.ttf");
  }
  
  /* Estilo do corpo da página */
  body {
    font-family: "Minha Fonte Personalizada", Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
  
  /* Estilo dos links */
    a {
    color: #333;
    text-decoration: none;
    }
  
    a:hover {
    color: #666;
    }
  
  /* Estilo das seções */
    section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    }

    /* Estilo do rodapé */
    footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    }

  /* Layout responsivo para dispositivos móveis */
    @media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
  }
  